[USVISA]
; Account and current appointment info from https://ais.usvisa-info.com
USERNAME = example@example.com
PASSWORD = xxxxxxxxxx
SCHEDULE_ID = 99999999
MY_SCHEDULE_DATE = 2024-01-01
; English - Canada
COUNTRY_CODE = en-ca
; Vancouver
FACILITY_ID = 95